{{ form_start(form) }}
<div class="row mt-5">
    <div class="col-6">{{ form_row(form.email) }}</div>
    <div class="col-6">{{ form_row(form.password) }}</div>
    <div class="col-12 text-end mt-5 mb-5">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>
{{ form_widget(form) }}

{{ form_end(form) }}
